.landingPageTemplate {
  background-color: rgba(255, 255, 255, 1);
  color: black;
  @media (prefers-color-scheme: dark) {
    background-color: rgba(26, 30, 35, 1);
    color: #eee;
  }
}

.textGradient {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #7A3BAA, #F941D1);
}

.headerSection {
  margin-top: 60px;
  margin-bottom: 20px;
  gap: 40px;
}

.textContainer {
  gap: 0.5rem;
}

.technologyGrid {
  margin-top: 50px;
}
